[user]
	name = Wang Xuerui
	email = idontknw.wang@gmail.com
[core]
	excludesfile = /home/xenon/.gitignore_global
#[diff]
#	algorithm = patience
[svn]
	authorsfile = /home/xenon/kodez/.gitsvn.authors
[alias]
	a = add
	ai = add -i
	adi = add -i
	addi = add -i
	br = branch
	brd = branch -d
	co = checkout
	cob = checkout -b
	com = checkout master
	cod = checkout develop
	st = status
	di = diff
	dic = diff --cached
	ci = commit
	cim = commit -m
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	mg = merge --no-ff
	mgf = merge
	mgm = merge --no-ff master
	rsh = reset HEAD
	rbm = rebase master
[push]
	default = simple
[credential]
	helper = cache --timeout=7200
[include]
	path = ~/.gitconfig.site
[color]
	ui = auto
