[user]
	name = Wang Xuerui
	email = idontknw.wang@gmail.com
[core]
	excludesfile = /home/xenon/.gitignore_global
#[diff]
#	algorithm = patience
[svn]
	authorsfile = /home/xenon/kodez/.gitsvn.authors
[alias]
	br = branch
	brd = branch -d
	co = checkout
	cob = checkout -b
	com = checkout master
	st = status
	di = diff
	dic = diff --cached
	ci = commit
	mg = merge --no-ff
	mgf = merge
	mgm = merge --no-ff master
	rsh = reset HEAD
	rbm = rebase master
[push]
	default = simple
[credential]
	helper = cache --timeout=7200
[include]
	path = ~/.gitconfig.site
[color]
	ui = auto
