[user]
	name = Wang Xuerui
	email = git@xen0n.name
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
#[diff]
#	algorithm = patience
[alias]
	a = add
	ai = add -i
	adi = add -i
	addi = add -i
	br = branch
	brd = branch -d
	co = checkout
	cob = checkout -b
	com = checkout master
	cod = checkout develop
	st = status
	di = diff
	dic = diff --cached
	ci = commit
	cim = commit -m
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	mg = merge --no-ff
	mgf = merge
	mgm = merge --no-ff master
	rsh = reset HEAD
	rbi = rebase -i
	rbm = rebase master
	rbc = rebase --continue
	chp = cherry-pick
	chpc = cherry-pick --continue
	chpa = cherry-pick --abort
	rbiod = rebase -i origin/develop
	rbiom = rebase -i origin/master
	rbioqa = rebase -i origin/qa
[push]
	default = simple
[merge]
	renamelimit = 100000
[color]
	ui = auto
[include]
	path = ~/.gitconfig.flavor
	path = ~/.gitconfig.site
