[Sunpinyin]
# 使用双拼而不是全拼
# Available Value:
# True False
UseShuangpin=True
# Sunpinyin 的双拼方案
# Available Value:
# MS2003
# ABC
# ZIRANMA
# PINYINJIAJIA
# ZIGUANG
# XIAOHE
#ShuangpinScheme=MS2003
# 模糊切分
# Available Value:
# True False
#FuzzySegmentation=True
# 支持内模糊音节 (xian->xi'an)
# Available Value:
# True False
FuzzyInnerSegmentation=True
# Sunpinyin 猜测的句子个数
# Available Value:
# 1
# 2
# 3
#MaxBest=1
# 最佳尾候选数
# Available Value:
# 0
# 1
# 2
#MaxTail=0
# 记忆强度
#MemoryStrength=3
# 让 Sunpinyin 处理标点
# Available Value:
# True False
ProcessPunc=True

[QuanPin]
# 模糊 zhi/zi
# Available Value:
# True False
#FuzzyZhiZi=False
# 模糊 chi/ci
# Available Value:
# True False
#FuzzyChiCi=False
# 模糊 shi/si
# Available Value:
# True False
#FuzzyShiSi=False
# 模糊 an/ang
# Available Value:
# True False
#FuzzyAnAng=False
# 模糊 on/ong
# Available Value:
# True False
#FuzzyOnOng=False
# 模糊 en/eng
# Available Value:
# True False
#FuzzyEnEng=False
# 模糊 in/ing
# Available Value:
# True False
#FuzzyInIng=False
# 模糊 eng/ong
# Available Value:
# True False
#FuzzyEngOng=False
# 模糊 ian/iang
# Available Value:
# True False
#FuzzyIanIang=False
# 模糊 uan/uang
# Available Value:
# True False
#FuzzyUanUang=False
# 模糊 n/l
# Available Value:
# True False
#FuzzyNeLe=False
# 模糊 f/h
# Available Value:
# True False
#FuzzyFoHe=False
# 模糊 l/r
# Available Value:
# True False
#FuzzyLeRi=False
# 模糊 k/g
# Available Value:
# True False
#FuzzyKeGe=False
# 自动纠正 gn 为 ng
# Available Value:
# True False
#AutoCorrectinggnng=True
# 自动纠正 uen 为 un
# Available Value:
# True False
#AutoCorrectingUenUn=False
# 自动纠正 img 为 ing
# Available Value:
# True False
#AutoCorrectingImgIng=False
# 自动纠正 iou 为 iu
# Available Value:
# True False
#AutoCorrectingIouIu=False
# 自动纠正 uei 为 ui
# Available Value:
# True False
#AutoCorrectingUeiUi=False

