[Keyboard]
# 选择候选词时输入额外空格
# 可选值：
# True False
CommitWithExtraSpace=False
# 切换单词提示
HotkeyToggleWordHint=CTRL_ALT_H
# 如果可用则使用单词提示
# 可选值：
# True False
EnableWordHint=False
# 最小触发单词提示长度
MinimumHintLength=1
# 使用回车确认已输入字符串
# 可选值：
# True False
UseEnterToCommit=True
# 如果可以则使用 presage 增强单词提示功能
# 可选值：
# True False
UsePresage=False
# 首选的Enchant后端 (需要重启)
# 可选值：
# Default Aspell Myspell
PreferredEnchantProvider=Myspell
# 当前输入内容加入用户词典
HotkeyAddToUserDict=CTRL_ALT_N

